{% comment %} <div class="exp_tags">HTML</div>
<div id="htmlbar"></div>
<div class="exp_tags">CSS/SASS</div>
<div id="cssbar"></div>
<div class="exp_tags">JQuery</div>
<div id="jqbar"></div>
<div class="exp_tags">JAVASCRIPT</div>
<div id="jsbar"></div>
<div class="exp_tags">PYTHON</div>
<div id="pythonbar"></div>
<div class="exp_tags">DJANGO</div>
<div id="djangobar"></div>
<div class="exp_tags">WORDPRESS</div>
<div id="wordpressbar"></div> {% endcomment %}



<script rel="stylesheet" src="{% static 'js/progressbar.js' %}"></script> 
<script rel="stylesheet" src="{% static 'js/bars.js' %}"></script>  {% endcomment %}