{% extends "base.html" %}
{% load staticfiles %}


{% block content %}


<section>
<div class="intro_container">
    <div class="container">
    <div class="row">
        <div class="col-sm-6 intro_text">
                        <h1>
                                IggyCodes Page is alive!!</h1>
        <p class="lorum">
                
        IggyCodes Page is alive!!>{% lorem how_many_paragraphs %}
    <button class="get_in_touch_button">GET IN TOUCH</button></p>
        </div>
        <div class="col-sm-6 intro_image">
            <img class="intro_face" src="{% static "images/image.png" %}" alt="My image"/>
        </div>
    </div>
</div>
</div>
</section>

<!-- <section>
    <div class="lessons_box">
    <h1 class="lesson_" id="lessons">Lessons</h1>
</div>
    <div class="container">
    

    <div class="index_lessons">
        
        <div class="lesson_menu">
                
                        <div class="row">
                          <div class="col-sm">
                              <i class="fa fa-diamond fa-3x"></i>
                              <div class="lesson_image"
                              data-sal="slide-up"
                              data-sal-delay="10"
                              data-sal-duration="500"
                              data-sal-easing="ease-out-bounce">
                                  <p>html</p>
                              </div>
                          
                                        
                                     </div>
                          <div class="col-sm">
                                <i class="fa fa-pencil-square-o fa-3x"></i>
                                <div class="lesson_image"
                                data-sal="slide-up"
                                data-sal-delay="50"
                                data-sal-duration="600"
                                data-sal-easing="ease-out-bounce">
                                        <p>css</p>
                                    </div>
                                              </div>
                          <div class="col-sm">
                                <i class="fa fa-calendar fa-3x"></i>
                                <div class="lesson_image"
                                data-sal="slide-up"
                                data-sal-delay="150"
                                data-sal-duration="700"
                                data-sal-easing="ease-out-bounce">
                                        <p>sass</p>
                                    </div>
 
                            </div>
                            <div class="col-sm">
                                    <i class="fa fa-comments-o fa-3x"></i>
                                    <div class="lesson_image"
                                    data-sal="slide-up"
                                    data-sal-delay="200"
                                    data-sal-duration="800"
                                    data-sal-easing="ease-out-bounce">
                                            <p>boot</p>
                                        </div>

                                </div>
                                <div class="col-sm">
                                        <i class="fa fa-flag-o fa-3x"></i>
                                        <div class="lesson_image"
                                        data-sal-delay="250"
                                        data-sal-duration="900"
                                        data-sal="slide-up"
                                        data-sal-easing="ease-out-bounce">
                                                <p>php</p>
                                            </div>

                                    </div>
                        </div>
                      
                    </div>
</div>
</div>
</section> -->


<!-- <section>
        <div class="container">
        <div class="box"></div>
    </div>
    </section> -->
    
    <section>
        <div class="lessons_box">
            <h1 class="work_ta loeson_" id="experience">experience</h1>
        </div>
        </section>

<section>
    <!-- <div class="container"> -->
    <div class="box">
        <div class="container">
            image
        </div>
    </div>
<!-- </div> -->
</section>

<section>
        <div class="lessons_box">
        <h1 class="work_ta" id="contacts">Contact me</h1>
        </div>
       




    </section>

    <section>
            
            <div class="box">
            <div class="container">
           
    {% include 'contacts.html' %}
            </div></div>
        </section>

    <script rel="stylesheet" src="{% static 'js/fitty.min.js' %}"></script>
    <script>
            fitty('#lessons');
            </script>
            <script>
                    fitty('#experience');
                    </script>
                    <script>
                            fitty('#contacts');
                            </script>
{% endblock %}