{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
<img class="man_image" src="{% static "images/man.png" %}" alt="My image"/>

<!-- <section>
        <div class="lessons_box">
            <h1 class="work_ta loeson_" id="contacts">About ME</h1>
        </div>
        </section> -->
        <section>
            <div class="intro_container">
                
                <div class="container">
                <div class="row" style="margin-right:0px; height:100vh;">
                    <div class="col-sm-7 intro_text">
                            <h1 class="greeting text-left" style="padding:20px 0;" >WELCOME</h1>
                        <div class="iam_text">
                                <i class="far fa-ruler-horizontal"></i>
                                <p class="intro">IGNAS GRIGARAVICIUS — Web and User Interface designer focusing on UX & simplicity.</p>
                            <p>I design unique and functional web pages including eccomerce shop. In a past year I’ve worked on my own projects to build portfolio and improve my skills and learn new techniques.</p>
                        </div>
                        <div class="button_align text-left">
                            <a style="font-size: 1.2em;font-weight:900;color:#0f141e;text-decoration:none;" href="/projects">View Projects </a> or <a style="font-size: 1.2em;font-weight:900;color:#0f141e;text-decoration:none;" href="/aboutme"> Read About Me</a>
                        <!-- <button class="get_in_touch_button">Read about me</button> -->
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <!-- <img class="intro_image" src="{% static "images/image2.png" %}" alt="My image"/> -->
                    </div>
                </div>
            </div>
        </div>

        </section>



        <section>
                <!-- <div class="container"> -->
                    <div class="lines_background">
                        <div class="wrapper">
                <div class="box">
                    <div class="container">
                            <h1 class="greeting text-left" style="padding:20px 0;" >WHAT I DO</h1>
                            <div class="iam_text">
                                    <i class="far fa-ruler-horizontal"></i>
                                    <p class="intro">IGNAS GRIGARAVICIUS — Web and User Interface designer focusing on UX & simplicity.</p>
                                <p style="padding-bottom:50px;">I design unique and functional web pages including eccomerce shop. In a past year I’ve worked on my own projects to build portfolio and improve my skills and learn new techniques.</p>
                            </div>
                                                        


        <section class="section section-light text-center">
                <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <img class="image_design_dev" src="{% static "images/svg/lightbulb.svg" %}" style="width:70px;color:gray;" alt="My image"/>                               
                                <h6 class="text-center" style="padding:10px 0;border-bottom:1px solid #aaa">IDEA</h6>
                                <p class="text-left what_i_do_p">Mauris in euismod ante. In accumsan orci sed turpis blandit elementum.
                                     Vestibulum...</p>
                                     <!-- <button type="button" class="get_in_touch_button">MORE</button> -->
                                
                                        
                                        </div>
                            <div class="col-sm">
                                <img class="image_design_dev" src="{% static "images/svg/pencil.svg" %}" style="width:100px;color:gray;" alt="My image"/>                                                               
                                <h6 style="padding:10px;border-bottom:1px solid #aaa">SKETCH</h6>
                                <p class="text-left what_i_do_p">Mauris in euismod ante. In accumsan orci sed turpis 
                                    blandit elementum. Vestibulum...</p>
                                    <!-- <button type="button" class="get_in_touch_button">MORE</button> -->
                            </div>
                            
                            <div class="col-sm">
                                    <i class="fa fa-paint-brush fa-3x" aria-hidden="true"></i>
                                    <img class="image_design_dev" src="{% static "images/svg/palette.svg" %}" style="width:100px;color:gray;" alt="My image"/>
                                    <h6 style="padding:10px;border-bottom:1px solid #aaa">DESIGN</h6>
                                    <p class="text-left what_i_do_p">To help you achieve a clear picture of your 
                                        business and website you're confident...</p> 
                                        <!-- <button type="button" class="get_in_touch_button">MORE</button> -->
                                        <!-- to show off. I make your 
                                        website look current and totally authentic - with beautiful 
                                        typography, lots of white space and design that complements your brand. -->
                                    
                                    
                                </div>
                                <div class="col-sm">
                                        <img class="image_design_dev" src="{% static "images/svg/code.svg" %}" style="width:110px;color:gray;" alt="My image"/>
                                        <h6 style="padding:10px;border-bottom:1px solid #aaa">DEVELOPMENT</h6>
                                        <p class="text-left what_i_do_p">To ensure a boautiful, easy-to-use website with 
                                            a positive user experience, I bring your... </p>
                                            <!-- <button type="button" class="get_in_touch_button">MORE</button> -->
                                            <!-- design (or mine) to life 
                                            with the latest coding standards in WordPress, responsive design, 
                                            and front-end development including HTML, CSS3/ SASS, PHP, JavaScript. -->
                                        
                                        
                                    </div>
                                    <div class="col-sm">
                                        <img class="image_design_dev" src="{% static "images/svg/hands-helping.svg" %}" style="width:120px;color:gray;" alt="My image"/>
                                        <h6 style="padding:10px;border-bottom:1px solid #aaa">MAINTENANCE</h6>
                                        <p class="text-left what_i_do_p">Mauris in euismod ante. In accumsan orci sed turpis 
                                            blandit elementum. Vestibulum...</p>
                                            <!-- <button type="button" class="get_in_touch_button">MORE</button> -->
                                        
                                        
                                    </div>
                        </div>
                        </div>
                    </div>
                </section>












                    </div>
                </div>
            </div>
            <!-- </div> -->
            </section>



            <section>
                    <div class="wrapper">
                    <div class="box">
                    <div class="container">
                        <h1 class="greeting text-left" style="padding:150px 0 20px 0;">CONTACT ME</h1>
                        
                        <div class="row">
                            <div class="col-xs-12 col-md-6 text-left">
                        
                        <h3>Get in touch — let's work together.</h3>
        
        </div>
        <div class="col-xs-12 col-md-6 text-left">
              
        <p>Got a project? Drop me a line if you want to work together on something exciting. Big or small. Mobile or web.</p>
        <p>I will get back to you as soon as possible.</p>

</div>
    </div>
        
                            <div class="row">
                                    <div class="col-sm-6 text-left">
                                                    <ul class="contact_side_bar">
                                                        <li>LOCATION: </li>
                                                        <li style="font-size:1.375rem;">Royal Canal Park, Dublin, Ireland</li>
                                                        <li>EMAIL: </li>
                                                        <li style="font-size:1.375rem;">contact@iggycodes.com</li>
                                                        <li>PHONE NUMBER: </li>
                                                        <li style="font-size:1.375rem;">(+353) 87 7433 324</li>
                                                       
                                                    </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        {% include 'contacts.html' %}
                                    </div>
                                </div>
                   
            
                    </div></div></div>
                </section>

<!-- <section>
        <p>SCROLL DOWN CSS</p>
        <a href="#" class="scroll-down" address="true"></a>
        </section> -->
       
        

<!-- <section>
    <div class="lessons_box">
    <h1 class="lesson_" id="lessons">Lessons</h1>
</div>
    <div class="container">
    

    <div class="index_lessons">
        
        <div class="lesson_menu">
                
                        <div class="row">
                          <div class="col-sm">
                              <i class="fa fa-diamond fa-3x"></i>
                              <div class="lesson_image"
                              data-sal="slide-up"
                              data-sal-delay="10"
                              data-sal-duration="500"
                              data-sal-easing="ease-out-bounce">
                                  <p>html</p>
                              </div>
                          
                                        
                                     </div>
                          <div class="col-sm">
                                <i class="fa fa-pencil-square-o fa-3x"></i>
                                <div class="lesson_image"
                                data-sal="slide-up"
                                data-sal-delay="50"
                                data-sal-duration="600"
                                data-sal-easing="ease-out-bounce">
                                        <p>css</p>
                                    </div>
                                              </div>
                          <div class="col-sm">
                                <i class="fa fa-calendar fa-3x"></i>
                                <div class="lesson_image"
                                data-sal="slide-up"
                                data-sal-delay="150"
                                data-sal-duration="700"
                                data-sal-easing="ease-out-bounce">
                                        <p>sass</p>
                                    </div>
 
                            </div>
                            <div class="col-sm">
                                    <i class="fa fa-comments-o fa-3x"></i>
                                    <div class="lesson_image"
                                    data-sal="slide-up"
                                    data-sal-delay="200"
                                    data-sal-duration="800"
                                    data-sal-easing="ease-out-bounce">
                                            <p>boot</p>
                                        </div>

                                </div>
                                <div class="col-sm">
                                        <i class="fa fa-flag-o fa-3x"></i>
                                        <div class="lesson_image"
                                        data-sal-delay="250"
                                        data-sal-duration="900"
                                        data-sal="slide-up"
                                        data-sal-easing="ease-out-bounce">
                                                <p>php</p>
                                            </div>

                                    </div>
                        </div>
                      
                    </div>
</div>
</div>
</section> -->


<!-- <section>
        <div class="container">
        <div class="box"></div>
    </div>
    </section> -->
    
    {% comment %} <section>
        <div class="lessons_box">
            <h1 class="work_ta loeson_" id="experience">experience</h1>
        </div>
        </section>



<section>
        <div class="lessons_box">
        <h1 class="work_ta" id="contacts">Contact me</h1>
        </div>
    </section> {% endcomment %}

    
        {% comment %} <script rel="stylesheet" src="{% static 'js/fitty.min.js' %}"></script>

    
    <script rel="stylesheet" src="{% static 'js/style.js' %}"></script>

    {% comment %} <script>
            fitty('#experience');
            </script>
            <script>
                    fitty('#experience');
                    </script>
                    <script>
                            fitty('#contacts');
                            </script> {% endcomment %}
{% endblock %}