{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="{% static "css/carousel.css" %}"> -->
    <link rel="stylesheet" href="{% static "css/projects.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    
    <!-- <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}"> -->
    
</head>
<div class="container">
<div class="container">
    <!-- <div class="wrapper"> -->
    <div class="row">
        <div class="col-ms-12">
            <p class="project_title">This is my projects</p>
            <div class="iam_text">
                    <i class="far fa-ruler-horizontal"></i>
                    <p class="intro">IGNAS GRIGARAVICIUS — Web and User Interface designer focusing on UX & simplicity.</p>
                <p>I design unique and functional web pages including eccomerce shop. In a past year I’ve worked on my own projects to build portfolio and improve my skills and learn new techniques.</p>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
</div>




<div class="container slides">
    <div class="row">
        <div class="col-sm-10 ">    
            <div class="swiper-container s2">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{% static "images/project_itfix.png" %}" style="width:100%; padding:40px;"alt="My image"/></div>
                    <div class="swiper-slide"><img src="{% static "images/project_1plus.png" %}" style="width:100%; padding:40px;"alt="My image"/></div>
                    <div class="swiper-slide"><img src="{% static "images/project_shop.png" %}" style="width:100%; padding:40px;"alt="My image"/></div>
                    <div class="swiper-slide"><img src="{% static "images/project_quiz.png" %}" style="width:100%; padding:40px;"alt="My image"/></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="swiper-container description_slid">
                <div class="swiper-wrapper">
                    <div class="swiper-slide single_slides">
                        <div class="projects_name">It fix</div>
                        <div class="projects_description">Lorem Ipsum is simply dummy text of the printing 
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the 1500s, when an unknown printer took a galley of type and 
                            scrambled it to make a type specimen book.</div>
                        <div class="project_icons">
                                <img src="{% static "images/svg/html5.svg" %}" style="width:15%; "alt="My image"/>
                                <img src="{% static "images/svg/css3-alt.svg" %}" style="width:15%; "alt="My image"/>
                                <img src="{% static "images/svg/js.svg" %}" style="width:17%;"alt="My image"/>
                                <img src="{% static "images/svg/python.svg" %}" style="width:17%;"alt="My image"/>
                        </div>
                        <div class="project_button"><a class="project_button" href="/projects">More</a></div>

                    </div>
                    <div class="swiper-slide single_slides">
                            <div class="projects_name">1 PLUS EVENTS</div>
                            <div class="projects_description">Blah Blah</div>
                    </div>
                    <div class="swiper-slide single_slides">
                            <div class="projects_name"></div>
                            <div class="projects_description"></div>
                    </div>
                    <div class="swiper-slide single_slides">
                            <div class="projects_name"></div>
                            <div class="projects_description"></div>
                    </div>
                    <div class="swiper-slide single_slides">
                            <div class="projects_name"></div>
                            <div class="projects_description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>

<script rel="stylesheet" src="{% static 'js/swiper.js' %}"></script> 


</footer>
{% endblock %}