{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/projects.css" %}">
    <!-- <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}"> -->
    
</head>
<div class="container">
    <div class="row">
        <div class="col-ms-12">
            <p class="project_title">This is my projects</p>
        </div>
    </div>
</div>
<div class="container slides">
    <div class="row">
        <div class="col-sm-9 ">
                <div class="trent-slider">
                        <div class="t-slide current-t-slide">
                        <img class="intro_image" src="{% static "images/laptop-screen.png" %}" alt="My image"/>

                        </div>
                        <div class="t-slide">
                          <img src="https://picsum.photos/1800/900?image=838" style="height:100%" alt="" />
                        </div>
                        <div class="t-slide">
                          <img src="https://picsum.photos/1800/900?image=841" alt="" />
                        </div>
                        <div class="t-slide">
                          <img src="https://picsum.photos/1800/900?image=839" alt="" />
                        </div>
                            <div class="t-slide">
                          <img src="https://picsum.photos/1800/900?image=821" alt="" />
                        </div>
                        <div class="t-slider-controls">
                          <div class="arrow right-arrow">
                            <div class="arrow-container">
                              <div class="arrow-icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                            </div>
                          </div>
                          <div class="arrow left-arrow">
                            <div class="arrow-container">
                              <div class="arrow-icon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                            </div>
                          </div>
                          <div class="t-load-bar">
                            <div class="inner-load-bar"></div>
                          </div>
                          <div class="t-dots-container">
                            <div class="t-slide-dots-wrap">
                              <div class="t-slide-dots">
                      
                              </div>
                            </div>
                          </div>
                        </div>
                      
                </div>
        </div>
        <div class="col-sm-3">
            Project description
        </div>
    </div>
</div>

<footer>


<script rel="stylesheet" src="{% static 'js/carousel.js' %}"></script> 

</footer>
{% endblock %}