{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
</head>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="owl-carousel">
                <div> Your Content </div>
                <div> Your Content </div>
                <div> Your Content </div>
                <div> Your Content </div>
                <div> Your Content </div>
                <div> Your Content </div>
                <div> Your Content </div>
              </div>
        </div>
        <div class="col-sm-3">
            Project description
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel();
      });
</script>

<script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
{% endblock %}