
{% load bootstrap_tags %}
{% block contact %}

<div class="container contact_container">
<div class="row">
        <div class="col-sm-12 contactform">
            <form class="contact_container" role="form" action="{% url 'contacts' %}" method="POST">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button class="get_in_touch_button" type="submit">SEND</button>
            </form>
        </div>
        <div class="col-sm-6 contactform"></div>
</div>
</div>
{% endblock contact %}