html, body{
  font-family: 'Nunito Sans', 'Roboto', sans-serif!important;
  margin: 0; 
  padding: 0;
}
body{
  background-image: url("../images/lines.png");
  background-attachment: fixed;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: hsla(0,0%,100%,0.95);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.navbar-brand{
    font-weight: 600;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 1px solid rgb(0, 0, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    width: 150px;
    animation: 
    typing 1s steps(10, end),
    blink-caret .60s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 150px }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    0% { border-color: rgb(0, 0, 0); }
    50% { border-color: rgb(0, 0, 0); border-color: transparent}
  }

.username{
    text-transform: uppercase;
}