button:hover{cursor: pointer}
button {
  background: transparent; outline: none;
  position: relative;
  /* border: 2px solid #111; */
  /* padding: 15px 50px; */
  overflow: hidden;
  height: 50px;
  width: 120px;
  border-radius: 5px;
  border: 2px solid gray;
  background-color:#fff;
  /* opacity: 0.8; */
}

/*button:before (attr data-hover)*/
button:hover:before{opacity: 1; transform: translate(0,0);}
button:before{
  content: attr(data-hover);
  color: gray;
  position: absolute;
  top: 1.1em; left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  opacity: 0;
  transform: translate(100%,0);
  transition: all .3s ease-in-out;
}
  /*button div (button text before hover)*/
  button:hover div{opacity: 0; transform: translate(100%,0)}
  button div{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
  }
/* default styles so shuffle doesn't have to set them (it will if they're missing) */
.wrapper{
    padding: 0 30px;
  }
  .row{
      margin: 0!important;
  }
.my-shuffle {
    position: relative;
    overflow: hidden;
      width: 100%;
  }
  
  /* Make vertical gutters the same as the horizontal ones */
  /* .image-item {
    margin-bottom: 30px;
  } */
  
  /* Ensure images take up the same space when they load */
  /* https://vestride.github.io/Shuffle/images */
  .aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
  }
  
  .aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .aspect--1x1 {
    /* padding-bottom: 56.25%; */
    padding-bottom: 100%;
  }


  .aspect--4x3 {
    padding-bottom: calc(112% + 18px);
}
  .aspect--3x4 {
    padding-bottom: 133.33333%;
  }
  
  .aspect--3x2 {
    padding-bottom: 66.66667%;
  }
  
  .aspect--2x3 {
    padding-bottom: 150%;
  }
  .aspect--16x9 {
    padding-bottom: 56.25%;
  }
  
  .aspect--9x80 {
    padding-bottom: calc(112.5% + 30px);
  }
  
  .aspect--32x9 {
    padding-bottom: calc(28.125% - 8px);
  }
  
  .image-item img {
    display: block;
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
  }
  [data-toggle=buttons]>.btn input[type=checkbox], [data-toggle=buttons]>.btn input[type=radio], [data-toggle=buttons]>.btn-group>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=radio] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;
  }
  
  
  
  /*////////////////////////////////////////
  // Portfolio
  ///////////////////////////////////////*/
  .portfolio {
      position: relative;
      width: 100%;
      float: left;
      padding: 0;
  }
  @media all and (max-width: 767px) {
    .portfolio {
          padding: 0 9px;
      }
  }
  .vossen-portfolio-filters {
      padding: 0;
      margin-bottom: 20px;
  }
  .vossen-portfolio-filters .btn {
      display: inline-block;
      cursor: pointer;
      text-transform: capitalize;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 3;
      text-transform: uppercase;
      color: #888;
      background-color: #f5f5f5;
      padding: 7px 30px;
      margin: 0 1.1px;
      border-radius: 4px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-shadow: none;
  }
  .vossen-portfolio-filters .btn:first-child {
      border-radius: 100px 0 0 100px;
      padding-left: 34px;
  }
  .vossen-portfolio-filters .btn:last-child {
      border-radius: 0 100px 100px 0;
      padding-right: 34px;
  }
  @media all and (max-width:992px) {
      .vossen-portfolio-filters .btn {
          margin: 3px 1.1px;
      }
      .vossen-portfolio-filters .btn:first-child,
      .vossen-portfolio-filters .btn:last-child {
          border-radius: 4px;
      }
  }
  .vossen-portfolio-filters .btn.active {
      cursor: default;
      color: #fff;
      opacity: 1;
      background-color: #07aaa5;
  }
  /* Portfolio Reveal */
  .my-shuffle > div {
      padding: 0 10px;
      opacity: 0;
  
      transition: opacity .5s, padding-top .5s;
      -moz-transition: opacity .5s, padding-top .5s;
      -webkit-transition: opacity .5s, padding-top .5s;
  }
  
  .my-shuffle > div.reveal {
      opacity: 1;
  }
  .my-shuffle .portfolio-item {
      transition: transform .4s;
      -moz-transition: transform .4s;
      -webkit-transition: transform .4s;
      transform: translateY(20%);
      -moz-transform: translateY(20%);
      -webkit-transform: translateY(20%);
  }
  .my-shuffle .reveal .portfolio-item {
      transform: translateY(0);
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
  }
  .portfolio-item {
      position: relative;
      z-index: 1;
      overflow: hidden;
  /*     margin-bottom: 19px; */
      border-radius: 2px;
  }
  .container-fluid .portfolio-item {
      border-radius: 0;
  }
  .item-caption {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 2;
      color: #fff;
      top: 50%;
      -webkit-transition: opacity 0.5s ease, transform 0.3s ease;
      -moz-transition: opacity 0.5s ease, transform 0.3s ease;
      transition: opacity 0.5s ease, transform 0.3s ease;
      opacity: 0;
  }
  .portfolio-item:hover .item-caption {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition-delay: .25s;
      -moz-transition-delay: .25s;
      transition-delay: .25s;
      opacity: 1;
  }
  .item-caption {
      -webkit-transform: perspective(600px);
      -moz-transform: perspective(600px);
      transform: perspective(600px);
  }
  @media all and (max-width: 990px) {
      .item-caption,
      .portfolio-item:hover .item-caption {
          position: absolute;
          width: 100%;
          height: auto;
          top: auto;
          bottom: 20px;
          -webkit-transition: opacity 0.5s ease, transform 0.3s ease;
          -moz-transition: opacity 0.5s ease, transform 0.3s ease;
          transition: opacity 0.5s ease, transform 0.3s ease;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          transform: translateY(0);
          opacity: 1;
      }
  }
  .item-caption h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 700;
      margin: 13px auto 8px auto;
      color: #fff;
  }
  .item-caption p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      margin: 8px auto;
      color: #ccc;
  }
  .item-image {
      -webkit-transition: transform 0.4s;
      -moz-transition: transform 0.4s;
      transition: transform 0.4s;
      -webkit-transform: perspective(600px);
      -moz-transform: perspective(600px);
      transform: perspective(600px);
  }
  .portfolio-item:hover .item-image {
      -webkit-transform: scale(1.08) rotate(0.1deg);
      -moz-transform: scale(1.08) rotate(0.1deg);
      transform: scale(1.08) rotate(0.1deg);
  }
  .portfolio-item .item-image:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: #191a1c;
      opacity: 0;
      transition: opacity 0.6s;
      -moz-transition: opacity 0.6s;
      -webkit-transition: opacity 0.6s;
  }
  .portfolio-item:hover .item-image:after {
      opacity: .8;
  }
  @media all and (max-width: 990px) {
      .portfolio-item .item-image:after,
      .portfolio-item:hover .item-image:after {
          background: linear-gradient(rgba(0, 0, 0, 0) 0%, #191a1c 100%);
          opacity: 1;
      }
  }