/* RGB */
h1, h2, h3, h4, h5, h6 {
  color: #c37752;
}

.intro_container {
  height: 100vh;
}

nav .navbar-brand {
  color: black !important;
}

nav .nav-link {
  color: black !important;
}

.greeting {
  font-size: 4em;
  font-weight: 700;
  text-shadow: -6px -3px 0 #6e6e6e42;
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  opacity: 0.6;
}

.intro_text {
  margin-top: 50px !important;
  padding: 50px;
  margin: auto;
  text-align: center;
}

.intro_text .iam {
  padding: 20px 60px;
  color: gray;
  font-size: 2.3em;
  font-weight: 700;
}

.iam_text > p {
  color: gray;
  text-align: left;
}

.intro_image {
  width: 100%;
  margin: auto;
  z-index: 2;
  opacity: 0.7;
}

.intro {
  font-size: 2.75rem;
  line-height: 2.75rem;
  padding-top: 2px;
  padding-bottom: 3px;
  font-weight: 700;
  color: gray;
  text-align: left;
}

.get_in_touch_button {
  background-color: transparent;
  padding: 0px;
  border: none;
  color: gray;
  cursor: pointer;
}

.man_image {
  position: absolute;
  z-index: -10;
  float: right;
  right: 0;
  top: 0;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(#fff));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
  opacity: 1;
  /* top, transparent red */
}

.image_man::after {
  display: block;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(#fff));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

.lessons_box {
  width: 100%;
  background-color: #fff;
}

.index_lessons {
  height: 300px;
  padding: 50px;
}

.form-control {
  border-radius: 0px !important;
  border: none !important;
}

#lessons {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
}

#experience {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
  text-shadow: 10px 5px 0 #c37752;
}

#contacts {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
  text-shadow: 10px 5px 0 #c37752;
}

.contact_container {
  margin: auto;
  padding-top: 1rem;
}

#id_contact_name, #id_contact_email {
  font-size: 14px;
  color: gray;
  height: 40px;
  background-color: transparent;
  border-bottom: 1px solid #c37752 !important;
}

#id_content {
  font-size: 14px;
  color: gray;
  height: 40px;
  background-color: transparent;
  border-bottom: 1px solid #c37752 !important;
}

#id_contact_name::-webkit-input-placeholder {
  font-size: 12px;
  color: #c37752;
  padding: 0px;
}

textarea#id_contact_name.form-control {
  padding-left: 0px;
}

textarea#id_contact_email.form-control {
  padding-left: 0px;
}

textarea#id_content.form-control {
  padding-left: 0px;
}

#id_contact_email::-webkit-input-placeholder {
  font-size: 12px;
  color: #c37752;
  padding-left: 0px;
}

#id_content::-webkit-input-placeholder {
  font-size: 12px;
  color: #c37752;
  padding-left: 0px;
}

.control-label {
  visibility: hidden;
}

.lesson_menu {
  height: 100px;
}

.lesson_tag {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 320px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
}

.lesson_image {
  height: 150px;
  width: 150px;
  background-color: #fad2b6;
  margin: auto;
}

.lesson_image p {
  color: white;
  margin: auto;
  text-align: center;
  position: relative;
  top: 30%;
  font-size: 35px;
  font-weight: 800;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=124, Color=#ddd8d4)";
  /*IE 8*/
  text-shadow: 2px 3px 0 #a57141;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#a57141);
  /*IE 5.5-7*/
}

.lesson_image:hover {
  cursor: pointer;
}

.lesson_image:hover p {
  font-size: 45px;
  top: 25%;
  margin: auto;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.Macro {
  height: 100px;
}

.work_tag {
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  font-size: 270px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
}

footer {
  color: #524348;
}

footer .footer_tabs {
  padding: 20px;
  text-transform: uppercase;
}

footer ul {
  font-size: 12px;
  text-align: left;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.4rem;
}

.color-charcoal {
  color: #524348;
  margin-bottom: 30px;
}

.color-charcoal .font-bold {
  font-weight: 700;
}

.padding-y-sm-6x {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.margin-bottom-md-1x {
  margin-bottom: 1rem;
}

div.exp_tags {
  position: relative;
  top: 30px;
  padding-left: 10px;
  color: #fff;
  margin-bottom: 0px !important;
}

#htmlbar {
  height: 40px;
}

#cssbar {
  height: 40px;
}

#jqbar {
  height: 40px;
}

#jsbar {
  height: 40px;
}

#pythonbar {
  height: 40px;
}

#djangobar {
  height: 40px;
}

#wordpressbar {
  height: 40px;
}

.contact_side_bar {
  padding: 0px;
}

.contact_side_bar li {
  list-style: none;
  font-size: 12px;
  padding-top: 0.5rem;
  color: gray;
}

.contact_side_bar li contact_side_bar_details {
  padding: 0.2em;
}

.image_design_dev {
  width: 100px;
  margin: 20px 0;
}

@media all and (max-width: 500px) {
  #navbarSupportedContent {
    background-color: rgba(0, 0, 0, 0.24);
    padding: 20px;
    margin-top: 20px;
    text-align: right;
  }
}
/*# sourceMappingURL=index.css.map */