//css only for 
/* RGB */

$bgcolor: rgb(250, 210, 182);
$color2: rgba(245, 47, 87, 1);
$color3: rgba(247, 157, 92, 1);
$color4: rgba(243, 117, 43, 1);
$color5: rgba(237, 237, 244, 1);
$text_color: #524348;

.intro_container{
    background-color: $bgcolor!important;
}
nav{
    background-color: none;
    .navbar-brand{
        color:black!important;
    }
    .nav-link{
        color:black!important;
    }
}
.intro_text{
    height: 500px;
    padding: 50px;
    margin: auto;
    text-align: center;
    .lorum{
        top: 30%;
        position: relative;
        color: #524348
    }
    h1{
        top: 30%;
        position: relative;
        color: #a57141;
        text-transform: uppercase;
    }
    

}
.intro_image{
    height: 600px;
    .intro_face{
        padding-top: 30px;
        max-height: 600px;
        margin: auto;
        z-index: 2;

    }

}
.index_lessons{
    height: 300px;
    padding: 50px;
}
.lesson_menu{
    height: 100px;
}
.lesson_tag{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 320px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-weight: 1000;
    line-height: 0.7;
    z-index: -1;
    color: rgb(250, 210, 182);

}
.lesson_image{
    height: 150px;
    width: 150px;
    background-color: $bgcolor;
    margin: auto;
    p{
        // text-transform: uppercase;
        color: white;
        margin: auto;
        text-align: center;
        position: relative;
        top: 30%;
        font-size: 35px;
        font-weight: 800;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=124, Color=#ddd8d4)";/*IE 8*/
        text-shadow: 2px 3px 0 #a57141;;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#a57141); /*IE 5.5-7*/
    }  
}
.lesson_image:hover {
    cursor: pointer;
    
    p{
        font-size: 45px;
        top: 25%;
        margin: auto;
        transition: 0.3s ease-in;
    }
    }

.box{
    height: 300px;
    background-color: $bgcolor;
}
    .work_tag{
        width: 100%;
        height: 200px;
        overflow: hidden;
        text-align: center;
        font-size: 320px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        font-weight: 1000;
        line-height: 0.7;
        z-index: -1;
        color: rgb(250, 210, 182);
    
    }
footer{
    color: $text_color;
}