//css only for 
/* RGB */

$bgcolor: #fad2b6;
$color2: rgba(245, 47, 87, 1);
$color3: rgba(247, 157, 92, 1);
$color4: rgba(243, 117, 43, 1);
$color5: rgba(237, 237, 244, 1);
$text_color: #524348;
h1,h2,h3,h4,h5,h6{
    color:#c37752;
}
.intro_container{
    height: 100vh;
    // background-color: $bgcolor!important;

}
nav{
    // background-color: #fff!important;
    .navbar-brand{
        color:black!important;
        
        // height: 65px;    
    }
    .nav-link{
        color:black!important;
        // padding-left: 200px!important;
    }
    // .navbar-nav{
    //     // padding-left:300px;
    // }
}

.greeting{
    font-size: 4em;
    font-weight: 700;
    color: #c87e7e;
    text-align: center;


}
.intro_text{
    // height: 500px;
    margin-top: 50px!important;
    padding: 50px;
    margin: auto;
    text-align: center;
    
    
    .iam{
        // border: 1px solid #524348;
        padding: 20px 60px;
        color: gray;
        font-size: 2.3em;
        font-weight: 700;
        }

}
.iam_text > p{
    
    color: gray;
    text-align: left;
}
    .intro_image{
        // padding: 130px 50px 0 10px;
        width: 100%;
        margin: auto;
        z-index: 2;
        opacity: 0.7;
    }
.intro{
    font-size:2.75rem;
    line-height:2.75rem;
    padding-top:2px;
    padding-bottom:3px;
    font-weight: 700;
    color: gray;
    text-align: left;
}
.get_in_touch_button{
background-color: transparent;
// border: 2px solid gray;
padding: 0px;
border: none;
color: gray;
cursor: pointer;
// margin: 10px;
// border-radius: 2px;
}
.man_image{
    position: absolute;
    z-index: -10;
    float: right;
    right: 0;
    top: 0;
    height: 100vh;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(50%);
      opacity: 1;
      /* top, transparent red */ 
  
  }
  .image_man::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
  }
.lessons_box{
    width: 100%;
    background-color: #fff
    // height: 200px;
}
.index_lessons{
    height: 300px;
    padding: 50px;
}
.form-control{
    border-radius: 0px!important;
    border: none!important;
}
#lessons{
    overflow: hidden;
    text-align: center;
    // font-size: 320px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-weight: 1000;
    line-height: 0.7;
    z-index: -1;
    color: rgb(250, 210, 182);
}
#experience{
    // padding-top: 190px;
    overflow: hidden;
    text-align: center;
    // font-size: 320px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-weight: 1000;
    line-height: 0.7;
    z-index: -1;
    color: rgb(250, 210, 182);
    text-shadow: 10px 5px 0 #c37752;
}
#contacts{
    overflow: hidden;
    text-align: center;
    // font-size: 320px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-weight: 1000;
    line-height: 0.7;
    z-index: -1;
    color: rgb(250, 210, 182);
    text-shadow: 10px 5px 0 #c37752;
}
.contact_container{
    // max-width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 20%;
}
#id_contact_name, #id_contact_email{
    font-size: 14px;
    color: gray;
    height: 40px;
    background-color: transparent;
    border-bottom: 1px solid #c37752!important;

}
#id_content{
    font-size: 14px;
    color: gray;
    height: 40px;
    background-color: transparent;
    border-bottom: 1px solid #c37752!important;

}
// #div_id_contact_name, #div_id_contact_email{
//     font-size: 40px;
//     color: white;
//     font-weight: 700;
// }
#id_contact_name::-webkit-input-placeholder{
    font-size: 12px;
    color: #c37752;
    // font-weight: 700;
    padding: 0px;
}
textarea#id_contact_name.form-control{
    padding-left:0px;
}
textarea#id_contact_email.form-control{
    padding-left:0px;
}
textarea#id_content.form-control{
    padding-left:0px;
}
#id_contact_email::-webkit-input-placeholder{
    font-size: 12px;
    color: #c37752;
    // font-weight: 700;
    padding-left: 0px;
}
#id_content::-webkit-input-placeholder{
    font-size: 12px;
    color: #c37752;
    // font-weight: 700;
    padding-left: 0px;

}
.control-label{
    visibility: hidden
}
.lesson_menu{
    height: 100px;
}
.lesson_tag{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 320px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-weight: 1000;
    line-height: 0.7;
    z-index: -1;
    color: rgb(250, 210, 182);

}
.lesson_image{
    height: 150px;
    width: 150px;
    background-color: $bgcolor;
    margin: auto;
    p{
        // text-transform: uppercase;
        color: white;
        margin: auto;
        text-align: center;
        position: relative;
        top: 30%;
        font-size: 35px;
        font-weight: 800;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=124, Color=#ddd8d4)";/*IE 8*/
        text-shadow: 2px 3px 0 #a57141;;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#a57141); /*IE 5.5-7*/
    }  
}
.lesson_image:hover {
    cursor: pointer;
    
    p{
        font-size: 45px;
        top: 25%;
        margin: auto;
        transition: 0.3s ease-in;
    }
    }
.Macro{
    height: 100px;
}
// .box{
//     // height: 200px;
//     // background-color: $bgcolor;
//     // padding: 100px;
    
// }
    .work_tag{
        width: 100%;
        height: 200px;
        overflow: hidden;
        text-align: center;
        font-size: 270px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        font-weight: 1000;
        line-height: 0.7;
        z-index: -1;
        color: rgb(250, 210, 182);
        // letter-spacing: 1.1;
    
    }
footer{
    color: $text_color;
    .footer_tabs{
        padding: 20px;
        text-transform: uppercase;}
        ul{
            font-size: 12px;
            text-align:left; 
            padding-bottom:10px;
    }}
    h4{
        font-size: 2.4rem;
    }
            .color-charcoal{
            color: #524348;
            margin-bottom: 30px;
                .font-bold{
                font-weight: 700;
        }
    }
    .padding-y-sm-6x{
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .margin-bottom-md-1x{
        margin-bottom: 1rem;
    }
    div.exp_tags{
        position:relative; 
        top:30px; 
        padding-left :10px; 
        color: #fff;
        margin-bottom: 0px!important;
        

}
    #htmlbar {
        // margin: 20px 0;
        // width: 400px;
        height: 40px;
            
      }

        #cssbar{
        // margin: 20px 0;
        // width: 400px;
        height: 40px;
      }
      #jqbar{
        // margin: 20px 0;
        // width: 400px;
        height: 40px;
      }
      #jsbar{
        // margin: 20px 0;
        // width: 400px;
        height: 40px;
      }
      #pythonbar {
        // margin: 20px 0;
        // width: 400px;
        height: 40px;
      }
      #djangobar{
        // margin: 20px 0;
        // width: 400px;
        height: 40px;
      }
      #wordpressbar {
        // margin: 20px 0;
        // width: 400px;
        height: 40px;
      }




    //   .filterizr__controls {
    //     li {
    //         background-color: #bbb;
    //         color: white;
    //         cursor: pointer;
    //         display: inline-block;
    //         text-transform: uppercase;
    //         padding: 1rem 2rem;
    //         transition: all 200ms;
    //     cursor: pointer;
    //         &.active {
    //             background-color: blue;
    //         }
    //     }
    // }
    
    // .filterizr__elements {
    //     figure {
    //         padding: 1rem;
    //         figcaption {
    //             color: white;
    //             position: absolute;
    //             text-transform: uppercase;
    //             padding: 1rem;
    //             z-index: 1;
    //             bottom: 1rem;
    //         }
    //     }
    // }
.contact_side_bar{
    padding:0px;
    li{
        list-style: none;
        font-size: 12px;
        padding-top: 0.5rem;
        color: gray;
        contact_side_bar_details{
            padding: 0.2em;
        }
    }
}
.image_design_dev{
    width: 100px;
    margin: 20px 0;
}

@media all and (max-width: 500px) {
    #navbarSupportedContent{
        background-color: rgba(0, 0, 0, 0.24);
        padding: 20px;
        margin-top: 20px;
        text-align: right;
    }
}