/* RGB */
.intro_container {
  height: 100vh;
  background-color: #fad2b6 !important;
}

nav {
  background-color: none;
}

nav .navbar-brand {
  color: black !important;
}

nav .nav-link {
  color: black !important;
}

.intro_text {
  height: 500px;
  padding: 50px;
  margin: auto;
  text-align: center;
}

.intro_text .lorum {
  border: 1px solid #524348;
  padding: 20px;
  top: 20%;
  position: relative;
  color: #524348;
}

.intro_text h1 {
  top: 20%;
  position: relative;
  color: #a57141;
  text-transform: uppercase;
  font-weight: 800;
}

.intro_image {
  height: 600px;
}

.intro_image .intro_face {
  padding-top: 30px;
  max-height: 600px;
  margin: auto;
  z-index: 2;
}

.get_in_touch_button {
  background-color: transparent;
  border: 3px solid #d44848;
  padding: 15px;
  color: #d44848;
}

.lessons_box {
  width: 100%;
}

.index_lessons {
  height: 300px;
  padding: 50px;
}

#lessons {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
}

#experience {
  padding-top: 190px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
}

#contacts {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
}

.contact_container {
  max-width: 90%;
  margin: auto;
  padding-top: 3rem;
}

#id_contact_name, #id_contact_email {
  font-size: 30px;
  color: gray;
  height: 60px;
  background-color: #C7AC92;
  border: none;
}

#id_content {
  font-size: 30px;
  color: gray;
  height: 200px;
  background-color: #C7AC92;
  border: none;
}

#id_contact_name::-webkit-input-placeholder {
  font-size: 30px;
  color: gray;
  font-weight: 700;
}

#id_contact_email::-webkit-input-placeholder {
  font-size: 30px;
  color: gray;
  font-weight: 700;
}

#id_content::-webkit-input-placeholder {
  font-size: 30px;
  color: gray;
  font-weight: 700;
}

.control-label {
  visibility: hidden;
}

.lesson_menu {
  height: 100px;
}

.lesson_tag {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 320px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
}

.lesson_image {
  height: 150px;
  width: 150px;
  background-color: #fad2b6;
  margin: auto;
}

.lesson_image p {
  color: white;
  margin: auto;
  text-align: center;
  position: relative;
  top: 30%;
  font-size: 35px;
  font-weight: 800;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=124, Color=#ddd8d4)";
  /*IE 8*/
  text-shadow: 2px 3px 0 #a57141;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#a57141);
  /*IE 5.5-7*/
}

.lesson_image:hover {
  cursor: pointer;
}

.lesson_image:hover p {
  font-size: 45px;
  top: 25%;
  margin: auto;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.Macro {
  height: 100px;
}

.box {
  background-color: #fad2b6;
  margin-top: -10px;
}

.work_tag {
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  font-size: 270px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 1000;
  line-height: 0.7;
  z-index: -1;
  color: #fad2b6;
}

footer {
  color: #524348;
}

footer .footer_tabs {
  padding: 20px;
  text-transform: uppercase;
}

footer ul {
  font-size: 12px;
  text-align: left;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.4rem;
}

.color-charcoal {
  color: #524348;
  margin-bottom: 30px;
}

.color-charcoal .font-bold {
  font-weight: 700;
}

.padding-y-sm-6x {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.margin-bottom-md-1x {
  margin-bottom: 1rem;
}

#htmlbar {
  margin: 20px 0;
  height: 40px;
}

#cssbar {
  margin: 20px 0;
  height: 40px;
}

#jsbar {
  margin: 20px 0;
  height: 40px;
}

#pythonbar {
  margin: 20px 0;
  height: 40px;
}

.filterizr__controls li {
  background-color: #bbb;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 2rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  cursor: pointer;
}

.filterizr__controls li.active {
  background-color: blue;
}

.filterizr__elements figure {
  padding: 1rem;
}

.filterizr__elements figure figcaption {
  color: white;
  position: absolute;
  text-transform: uppercase;
  padding: 1rem;
  z-index: 1;
  bottom: 1rem;
}
/*# sourceMappingURL=index.css.map */