{% load static %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IGGYCODES</title>
    {% comment %} <link rel="stylesheet" href="{% static "css/regular.css" %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static "css/sal.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/scroll.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    
</head>
<body>



<div class="container">
<nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
      {% comment %} <a class="navbar-brand" href="#"> {% endcomment %}
        <!-- <img src="../static/images/logo3.png"  alt=""> -->
        <a class="navbar-brand" href="#">IGGYCODES </a>
      {% comment %} </a> {% endcomment %}
      <!-- burger bar -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- /burger bar -->
    
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ">
        </ul>
        <ul class="navbar-nav ml-auto" style="padding-right:490px;">
                <li class="nav-item active">
                        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT ME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">BLOG</a>
                    </li>
                    {% comment %} <li class="nav-item">
                            <a class="nav-link" href="#">LESSONS</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                                <a class="nav-link" href="#">GALLERY</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="#">PROJECTS</a>
                                </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link disabled" href="#">SHOP</a>
                    </li> {% endcomment %}
        </ul>
        
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
      </div>
    </nav>
</div>
    








    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                
                    <div class="panel-body">
                        {% if messages %}
                            <div class="alert alert-success">
                                <div class="messages">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                
            </div>
        </div>
    </div>
   

                        {% block content %}
                        {% endblock %}

                        {% block contact %}
                        {% endblock contact %}
                       

    <script rel="stylesheet" src="{% static 'js/sal.js' %}"></script>
    <script>
        sal();
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script rel="stylesheet" src="{% static 'js/fitty.min.js' %}"></script> 
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>